@charset "UTF-8";
// ---------------------------------------------
//  base
// ---------------------------------------------


#wrap {
    min-width: 1200px;
    margin: auto;
}

.container {
        width: 680px;
        margin: auto;
}

.topLogo {
    text-align: center;
}

header {
    .row {
        margin-top: 41px;
        margin-bottom: 42.08px;
        display: flex;
      }
    
      
    .column {
        width: 100%;
      }
      
    .columnEng{
        width:auto
    }
}

#topImg{
    background-color: #000;
    text-align: center;

    img{
        display: block;
        margin: 0 auto;
    }
}
#topList{
    background-color: #a51e17;
}

.gnavTop {
    background: linear-gradient(#A71E18, #B53F3F);
    list-style: none;
    display: flex;
    justify-content: center;
    
    li{
        width: 270px;
    }
    li:first-child{
        background-image:url('../img/gnav_on.png');
    }
    li:hover {
        background-image:url('../img/gnav_on.png');
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13px;
    }
}
h2{
    text-align: center;
}

body {
    font-family: "Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    //font-family: "Hiragino Mincho ProN","Hiragino Mincho Pro",游明朝,"Yu Mincho",YuMincho,serif;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

footer {
    background-color: #000000;
    text-align: center;
}

.backgroundCol {
    background: linear-gradient(#a51e17, #ac3c3c);
    margin: auto;
}

.navFooter {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: -161px;

    li {
        padding: 17px 24px;
    }


    li:hover {
        text-decoration: underline;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }
}

.copyright {
    text-align: center;
    color: #ffffff;
    padding: 40px 0;
    font-size: 14px;
}
