@charset "UTF-8";

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------

.topHeader {
    margin-left: auto;
    margin-right: auto;
  }

.container {
    width: 1200px;
    margin: auto;
}


//let img on the center of the screen
img {
  display: block;
  margin: 0 auto;
}

.gnavTop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-image:url('../img/gnav_on.png');

    li {
        width: 270px;
    }

    a {
        display: block;
        padding: 13px;
    }
}

.backgroundCol {
    background: linear-gradient(#a51e17, #ac3c3c);
    margin: auto;
}

.navFooter {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 60px;

    li {
        padding: 18px 20px;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }
}



#mainContents {
    margin-top: 50px;
    padding-bottom: 50px;
    text-align:center;
    display: block;
    width: 680px;
}

p {
    margin-top: 20px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    text-align: left
}

#text1 {
    font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", 游明朝, "Yu Mincho", YuMincho, serif;
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
}


#mainContents {
    width: 680;
    margin: auto;
}

#home{
    margin-top: 50px;
    padding-bottom: 460px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1200px;
    margin: auto;

}


.copyright {
    text-align: center;
    color: #ffffff;
    padding: 40px 0;
    font-size: 14px;
}

