@charset "UTF-8";

// ---------------------------------------------
// text-align
// ---------------------------------------------

.u-txt_left {
  text-align: left !important;
}

.u-txt_center {
  text-align: center !important;
}

.u-txt_right {
  text-align: right !important;
}
