 @charset "UTF-8";

 // ---------------------------------------------
 //  base
 // ---------------------------------------------
 html {
     font-size: 62.5%;
 }

 body {
     font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic Medium", Meiryo, sans-serif;
     font-size: 16px;
     line-height: 1.6;
     color: #281c26;
 }

 #wrap {
     min-width: 1200px;
     margin: auto;
 }

 .container {
     width: 1000px;
     margin: auto;
 }

 .container_sm {
     width: 800px;
     margin: auto;
 }

 header {
     box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
     border-bottom: #DF69C3 3px solid;
     width: 100%;
     height: 75px;
     top: 0px;
     display: flex;
     position: fixed;
     font-weight: bold;
     background-color: #ffffff;
     align-items: center;
     justify-content: center;
     z-index: 1;

     .title_text {
         display: flex;
         flex-wrap: wrap;
         font-size: 18px;
         text-decoration: none;
         color: #000000;
     }
 }


 .gnav_top {
     list-style: none;
     display: flex;
     justify-content: center;

     li {
         a {
             text-decoration: none;
             color: #000000;
         }

         width: 150px;

         .pink {
             color: #DF69C3;

         }

         &:hover {
             color: #DF69C3;
         }
     }

     a {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 13px;
     }
 }

 .eyecatch {
     background: url("../img/eyecatch.jpg") no-repeat center center;
     text-align: center;
     padding: 80px 10px;
     margin-top: 75px;
     font-size: 4rem;
     color: #5a1c4b;
     background-size: cover;
 }

 main {
     margin-top: 75px;
 }

 .gototop {
     position: fixed;
     bottom: 10px;
     right: 10px;
     width: 110px;
 }

 footer {
     background-color: #FBE7F7;
     padding: 40px 10px 5px;
 }

 .footer_info {
     text-align: center;
 }

 .footer_base {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .footer_title {
     font-weight: bold;
     font-size: 18px;
     line-height: 1.2;
     margin-bottom: 10px;
 }

 .footer_subtitle {
     font-size: 12px;
     display: block;
 }

 .footer_address {
     font-size: 14px;
 }

 .nav_footer {
     display: flex;
     align-items: center;
     font-size: 14px;

     a {
         color: inherit;
         display: block;
         padding: 5px 10px;
     }

 }

 .copyright {
     text-align: center;
     line-height: 1;
     padding: 10px;
     font-size: 12px;
 }