 @charset "UTF-8";

 // ---------------------------------------------
 //  base
 // ---------------------------------------------
 body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic Medium", Meiryo, sans-serif;
     font-size: 17px;
     line-height: 1.6;
     color: #281c26;
 }

 #wrap {
     min-width: 1200px;
     margin: auto;
 }

 .container {
     width: 1200px;
     margin: auto;
 }


 header {
     border-bottom: #DF69C3 3px solid;
     width: 100%;
     height: 75px;
     top: 0px;
     display: flex;
     position: fixed;
     font-weight: bold;
     background-color: #ffffff;
     align-items: center;
     justify-content: center;

     .title_text {
         display: flex;
         flex-wrap: wrap;
     }
 }

 .gnav_top {
     list-style: none;
     display: flex;
     justify-content: center;

     li {
         a {
             text-decoration: none;
             color: inherit;
         }

         width: 150px;

         .first_text {
             color: #DF69C3;

         }

         a:hover {
             color: #DF69C3;
         }
     }

     a {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 13px;
     }
 }

 main {
     margin-top: 75px;
 }


 footer {
     background-color: #FBE7F7;
     padding: 40px 10px 5px;

     .footer_info {
         text-align: center;
     }

     .footer_base {
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     .footer_title {
         font-weight: bold;
     }

     .footer_subtitle {
         font-size: 1.1rem;
         display: block;
     }


     .nav_footer {
         display: flex;
         align-items: center;
         font-size: 14px;

         li {
             padding: 17px 24px;
         }

         a {
             color: inherit;
             text-decoration: none;
         }

     }

     .copyright {
         text-align: center;
         line-height: 1;
         padding: 10px;
         font-size: 12px;
     }
 }