 @charset "UTF-8";
 @use "variables"as *;

 // ---------------------------------------------
 //  base
 // ---------------------------------------------
 html {
     font-size: 62.5%;
 }

 body {
     font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic Medium", Meiryo, sans-serif;
     font-size: 16px;
     line-height: 1.6;
     color: #281c26;

     @include max-mq() {
         font-size: 1.5em;
         padding-top: 65px;
     }
 }

 #wrap {
     min-width: 1200px;
     margin: auto;

     @include max-mq() {
         width: 100%;
         min-width: initial;
     }
 }

 .container {
     width: 1000px;
     margin: auto;

     @include max-mq() {
         width: 100%;
         box-sizing: border-box;
         padding: 0px 10px;
     }
 }

 .container_sm {
     width: 800px;
     margin: auto;

     @include max-mq() {
         width: 100%;
         box-sizing: border-box;
         padding: 0px 10px;
     }
 }

 header {
     box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
     border-bottom: #DF69C3 3px solid;
     width: 100%;
     top: 0px;
     display: flex;
     position: fixed;
     font-weight: bold;
     background-color: #ffffff;
     align-items: center;
     justify-content: center;
     z-index: 1;

     @include min-mq() {
         height: 75px;
     }

     @include max-mq() {
         display: block;
     }


     .logo {
         @include max-mq() {
             padding: 10px 0;
             margin: 0;
         }
     }

     .title_text {
         display: flex;
         flex-wrap: wrap;
         font-size: 18px;
         text-decoration: none;
         color: #000000;
         padding: 0 10px;
     }

     .top_list_mobi {
         display: none;
         line-height: 1;
         color: #DF69C3;

         .line {
             display: block;
             width: 80%;
             background-color: #DF69C3;
             height: 4px;
             margin: 5px auto 0;
         }

         .line-menu {
             font-weight: normal;
         }

         @include max-mq() {
             display: block;
             position: absolute;
             top: 10px;
             right: 10px;
             background: #fff;
             border: none;
             width: 44px;
             height: 44px;
             cursor: pointer;
         }
     }
 }

 .top_list {
     @include max-mq() {
         display: none;
         width: 100%;
         padding: 0;
     }
 }

 .gnav_top {
     list-style: none;
     display: flex;
     justify-content: center;

     @include max-mq() {
         display: block;
     }

     li {
         width: 150px;

         .pink {
             color: #DF69C3;

         }
     }
     
     a {
        text-decoration: none;
        color: #000000; 
        display: block;
        padding: 13px;

        &:hover {
           color: #DF69C3;
           transition: 0.2s;
       }

    }
 }

 .eyecatch {
     background: url("../img/eyecatch.jpg") no-repeat center center;
     text-align: center;
     padding: 80px 10px;
     margin-top: 75px;
     font-size: 4rem;
     color: #5a1c4b;
     background-size: cover;

     @include max-mq() {
         padding: 40px 0;;
         font-size: 3rem;
     }
 }

 main {
     margin-top: 75px;

     @include max-mq() {
         margin-top: 0px;
     }
 }

 .gototop {
     position: fixed;
     bottom: 10px;
     right: 10px;
     width: 110px;

     @include max-mq() {
         width: 80px;
     }
 }

 footer {
     background-color: #FBE7F7;
     padding: 40px 10px 5px;
 }

 .footer_info {
     text-align: center;
 }

 .footer_base {
     display: flex;
     justify-content: space-between;
     align-items: center;

     @include max-mq() {
         flex-direction: column-reverse;
         margin-bottom: 20px;
     }
 }

 .footer_title {
     font-weight: bold;
     font-size: 18px;
     line-height: 1.2;
     margin-bottom: 10px;
 }

 .footer_subtitle {
     font-size: 12px;
     display: block;
 }

 .footer_address {
     font-size: 14px;
 }

 .footer_list {
     @include max-mq() {
         margin-bottom: 20px;
     }
 }

 .nav_footer {
     display: flex;
     align-items: center;
     font-size: 14px;

     a {
         color: inherit;
         display: block;
         padding: 5px 10px;
     }

     @include max-mq() {
         flex-wrap: wrap;
         justify-content: center;
     }

 }

 .copyright {
     text-align: center;
     line-height: 1;
     padding: 10px;
     font-size: 12px;
 }