@charset "UTF-8";

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------


.top_img {
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
        top: 0;
    }
}

.sub_title {
    font-size: 10px;
    display: block;
}

.home{
    margin-top: 60px;
}

.main_info {
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    border-bottom: #fbe7f7 solid 2px;
    margin-bottom: 40px;
}

.main_info span {
    font-size: 10px;
    font-weight: normal;
    color: #df69c3;
}

.img_block1 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.img_block2 {
    padding: 60px 0 100px;
}

.info_block {
    margin-right: 35px;
}

// 会社案内
.inc_info {
    margin-bottom: 20px;
}

// 会社案内ボタン
.btn_infobase {
    display: block;
    color: #df69c3;
    border: solid 2px #df69c3;
    text-align: center;
    padding: 10px 10px;
    max-width: 320px;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
}

.secone_two {
    background: #faf8fa;
}

//決算報告ボタン
.btn_kessan {
    display: block;
    max-width: 800px;
    background: #fff;
    color: #df69c3;
    border: solid 2px #df69c3;
    text-align: center;
    padding: 20px 10px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.2s;
    margin: 0 auto;

}
