@charset "UTF-8";

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.top_img {
    text-align: center;
}

.container_main {
    width: 1000px;
    margin: auto;
}

.sub_title {
    font-size: 12px;
    display: block;
}

.top_about{
    margin-top: 60px;
    
}

.top_ttl {
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    border-bottom: #fbe7f7 solid 2px;
    margin-bottom: 40px;
}

.top_ttl span {
    font-size: 12px;
    font-weight: normal;
    color: #df69c3;
}

.top_about_block {
    margin-top: 60px;
    margin-bottom: 100px;
}

.img_block1 {

    @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    }
    .block_img {
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
}

.info_block {
    @media (min-width: 768px) {
    margin-right: 63.55px;
    }
}

// 会社案内
.inc_info {
    margin-bottom: 20px;
}

// 会社案内ボタン
.btn_infobase {
    display: block;
    background: #fff;
    color: #df69c3;
    border: solid 2px #df69c3;
    text-align: center;
    padding: 10px 10px;
    max-width: 300px;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    text-decoration: none;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
    transition: 0.2s;

    &:hover {
        background-color: #df69c3;
        color: #fff;
    }
}

.top_statement {
    background: #faf8fa;
    padding: 60px 0 100px;
}

//決算報告ボタン
.btn_kessan {
    display: block;
    max-width: 776px;
    background: #fff;
    color: #df69c3;
    border: solid 2px #df69c3;
    text-align: center;
    padding: 20px 10px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.2s;
    margin: 0 auto;
    
}
