@charset "UTF-8";

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------


p {
    margin-top: 20px;
    font-size: 14px;
}

.text1 {
    font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", 游明朝, "Yu Mincho", YuMincho, serif;
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
}


.home{
    padding-bottom: 460px;
    background-image: url(../img/background.jpg);
    background-size: auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-top: 62px;
}

