@charset "UTF-8";

@use "variables" as *;

// ---------------------------------------------
//  base
// ---------------------------------------------

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "YuGothic",
    "Yu Gothic Medium", "Meiryo", sans-serif;
  font-size: var( --fz16 );
  line-height: 1.6;
  color: $color-body;
}

// html,body 以外の個所ではfont-sizeは下記の用にremで指定
// 14px = 1.4rem
// 15px = 1.5rem
// 16px = 1.6rem
// 17px = 1.7rem

.wrap {
  // min-width: 1200px;
  margin: auto;

  @include max-mq {
    width: 100%;
    min-width: auto;
  }
}

header {
  display: flex;
}
.container {
  box-sizing: border-box;
  width: 1000px;
  margin: auto;
}

.header_logo {
  width: 300px;
}

.header_menu {
  width: 700px;
}

.header_tel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gnav {
  font-weight: bold;
  display: block;
  padding: 10px 0;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include max-mq {
    display: none;

    ul {
      display: block;
    }

    a {
      display: block;
    }
  }
}

main {
  display: block;

  // for ipad portrait mode

  @media (min-width: 768px) and (max-width: 769px) and (orientation: portrait) {
    min-height: 95vh;
  }
}
// 
.totop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  cursor: pointer;

  @include max-mq {
    width: 44px;
    height: 44px;
  }
}

// ---------------------------------------------
//  ヘッダー関連 header
// ---------------------------------------------

// ---------------------------------------------
//  フッター関連 footer
// ---------------------------------------------

.footer {
  // footer--copy
  &--copy {
    padding: 10px;
    line-height: 1;
    text-align: center;
  }
}
