@charset "UTF-8";

.eyecatch {
    background: url("../img/eyecatch.jpg") no-repeat center center;
    text-align: center;
    padding: 80px 10px;
    margin-top: 75px;
    font-size: 4rem;
    color: #5a1c4b;
    background-size: cover;
}

.company_info {
    padding: 60px 0 100px;
    display: grid;
    align-items: center;
    justify-content: center;

}

.company_list {
    display: grid;
    width: 800px;
    height: 288.75px;
    grid-template-columns: 240px 560px;
    grid-row-gap: 1px;
}

.company_list_left_item {
    padding: 10px 20px;
    text-align: center;
    background: #FBE7F7;
}

.company_list_right_item {
    padding: 10px 20px;
    text-align: left;
    a {
        text-decoration: underline;
    }
}