@charset "UTF-8";
@use "../variables"as *;

.eyecatch {
    @include max-mq() {
        margin-top: 0;
    }
}

.company_info {
    padding: 60px 0 100px;
}

.company_list {
    display: grid;
    height: 288.75px;
    grid-template-columns: 240px 560px;
    grid-row-gap: 1px;
    @include max-mq() {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 0px;
        height: auto;
    }
}

.company_list_left_item {
    padding: 10px 20px;
    text-align: center;
    background: #FBE7F7;
}

.company_list_right_item {
    padding: 10px 20px;
    a {
        text-decoration: underline;
        color: #000000;
    }
    li {
        list-style: "・" inside;
    }
}
