@charset "UTF-8";

.company_info {
    padding: 60px 0 100px;
    display: grid;
    align-items: center;
    justify-content: center;

}

.company_list {
    display: grid;
    height: 288.75px;
    grid-template-columns: 240px 560px;
    grid-row-gap: 1px;
}

.company_list_left_item {
    padding: 10px 20px;
    text-align: center;
    background: #FBE7F7;
}

.company_list_right_item {
    padding: 10px 20px;
    text-align: left;
    a {
        text-decoration: underline;
        color: #000000;
    }
    li {
        list-style: "・" inside;
    }
}
