@charset "UTF-8";
@use "../variables"as *;

.kessan_info {
    padding: 60px 0 100px;
}

.kessan_info_block {
    p {
        margin-bottom: 10px;
    
        &:nth-child(2){
            margin-bottom: 30px;
        }
    }
}

.kessan_btn {
        display: block;
        background: #fff;
        color: #df69c3;
        border: solid 2px #df69c3;
        text-align: center;
        padding: 20px 10px;
        font-weight: bold;
        border-radius: 10px;
        text-decoration: none;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        transition: 0.2s;

        &:hover {
            background-color: #df69c3;
            color: #fff;
        }
}
